@media (max-width: 480px){

}

@media (min-width: 1024px) {
    footer {
        display: flex;
    }
}

footer {
    background-color: black;
}

footer > div {
    flex: 1;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-inline: 5%;

    h3 {
        color: white;
    }

    * {
        margin: 2%;
    } 

    input {
        background-color: transparent;
        margin: 0;
        padding-inline: 5%;
        color: white;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        flex: 5;
    } 

    button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        transition: color 300ms;
        font-size: 1rem;
    }

    button:hover {
        color: #918cfd;
    }
}

#email-input {
    height: 5vh;
    outline: 0;
    display: flex;
    border: 1px solid gray;
    margin-top: 5%;
}

#email-button {
    height: 100%;
    color: white;
    margin: 0;
    border: none;
    flex: 1;
    cursor: pointer;
    background-color: transparent;
    border-left: 1px solid gray;
}

#email-button:hover {
    background-image: linear-gradient(to right, #766EFF, #61edfd);
}

