* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    margin: 0;
    border: none;
}

@media (max-width: 480px)
{
    nav {
        background-color: black;
        flex-direction: column;
        justify-content: center;
        transition: 100ms ease-in-out;
    }

    nav h2 {
        font-size: 1.5rem;
    }

    #header-list {
        flex-direction: column;
        width: 100%;
        margin-top: 1vh;
        * {
            display: none;
        }
        transition: 100ms ease-in-out;
    }

    #header-list.active {
        * {
            display: block;
        }
    }

    #header-list li {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-inline: 10%;
        border-top: 1px solid rgb(178, 177, 177);
    }

    nav button {
        display: block;
    }

    #bg-gradient {
        visibility: hidden;
    }

    #header-options {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 40%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media (min-width: 1000px)
{
    nav {
        height: 15vh;
        justify-content: space-around;
    }

    nav button {
        display: none;
    }
}

#bg-gradient {
    background-image: linear-gradient(to right, #766EFF, #61edfd);
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    position: absolute;
    z-index: -1;
}

nav {
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
}

nav a {
    color: white;
}

#header-list {
    list-style-type: none;
    display: flex;
    gap: 15%;
    padding: 0;
}

nav button {
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
}
