@media (max-width: 480px) {
    #introduction {
        width: 100%;
    }
    #intro-card {
        flex-direction: column;
        padding-top: 25%;
        img {
            width: 90%;    
        }
        align-items: center;
    }
    .intro-contents {
        width: 90%;
        gap: 2vh;
    }
    .intro-contents button:hover {
        background-color: black;
        color: white;
    }
    #about {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    #introduction {
        width: 70%;
    }
    #intro-card {
        margin-top: 20%;
        img {
            width: 55%;    
        }
        padding: 2%;
    }
    .intro-contents {
        width: 30%;
        justify-content: space-around;
    }
    .intro-contents button:hover {
        background-image: linear-gradient(to right, #766EFF, #61edfd);
        color: white;
    }
}

#intro-card {
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.intro-contents {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%;
    padding-bottom: 5%;
}

#name {
    font-size: 3rem;
}

.intro-contents a {
    padding: 2%;
    display: flex;
    color: gray;
    i {
        color: #afabfb;
        font-size: 1.2rem;
        float: left;
        margin-right: 10%;
    }
}

.intro-contents button {
    border-radius: 0.2rem;
    font-size: 1.5rem;
    transition: 100ms;
    padding: 5px;
    padding-inline: 10px;
}

#about {
    display: flex;
    margin-top: 5%;
}

.about-section {
    padding: 5%;
    flex: 1;

    h4 {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

#achievements {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 3vh;
}

.achievement-box {
    border: 1px solid lightgray;
    border-radius: 5%;
    padding: 5%;

    i {
        font-size: 1.5rem;
        background: linear-gradient(to right, #766EFF, #2ae6fb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.skill > h4 {
    font-weight: 500;
    color: black;
}

.progress-bar {
    width: 100%;
    height: 2vh;
    border: 1px solid lightgray;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar > div {
    width: 99%;
    height: 80%;
    background-color: lightgray;
    border-radius: 0.7vh;

    div {
        background-image: linear-gradient(to right, #766EFF, #2ae6fb);
        height: 100%;
        border-radius: 0.7vh;
        width: 60%;
    }
}
